* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

body {
  font-family: "Poppins", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
}

form {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  -webkit-box-shadow: 0 0 10px #ddd;
          box-shadow: 0 0 10px #ddd;
  padding: 15px 25px;
  max-width: 400px;
  min-width: 390px;
}

form .form-title h2 {
  text-align: center;
}

form .form-group {
  position: relative;
  width: 100%;
  margin: 0 0 2rem 0;
}

form .form-group label {
  color: #777;
  display: block;
  margin-bottom: 5px;
}

form .form-group .form-control {
  border: 2px solid #ddd;
  border-radius: 4px;
  padding: 10px;
  width: 100%;
}

form .form-group .form-control:focus {
  outline: none;
  border-color: #777;
}

form .form-group small {
  color: red;
  text-transform: capitalize;
}

form .btn {
  background-color: #3498db;
  border: 2px solid #3498db;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  padding: 10px 25px;
  width: 100%;
}

form .btn:active {
  border: 2px solid 333;
}
