*, :after, :before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

body {
  max-width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90vw;
}

.card-wrapper .card-body {
  height: 80vh;
  border-radius: 50px;
  color: #fff;
  cursor: pointer;
  -webkit-box-flex: 0.5;
      -ms-flex: 0.5;
          flex: 0.5;
  margin: 10px;
  position: relative;
  -webkit-transition: -webkit-box-flex 0.7s ease-in;
  transition: -webkit-box-flex 0.7s ease-in;
  transition: flex 0.7s ease-in;
  transition: flex 0.7s ease-in, -webkit-box-flex 0.7s ease-in, -ms-flex 0.7s ease-in;
}

.card-wrapper .card-body:first-child {
  background: url("https://images.unsplash.com/photo-1558979158-65a1eaa08691?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
  background-size: auto 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.card-wrapper .card-body:nth-child(2) {
  background: url("https://images.unsplash.com/photo-1572276596237-5db2c3e16c5d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
  background-size: auto 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.card-wrapper .card-body:nth-child(3) {
  background: url("https://images.unsplash.com/photo-1507525428034-b723cf961d3e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1353&q=80");
  background-size: auto 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.card-wrapper .card-body:nth-child(4) {
  background: url(https://images.unsplash.com/photo-1551009175-8a68da93d5f9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1351&q=80);
  background-size: auto 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.card-wrapper .card-body:last-child {
  background: url(https://images.unsplash.com/photo-1549880338-65ddcdfd017b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80);
  background-size: auto 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.card-wrapper .active {
  -webkit-box-flex: 5;
      -ms-flex: 5;
          flex: 5;
}
