*, ::before, :after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  background-color: #e08e2f;
}

.container {
  padding: 1em 1em 0 1em;
  background-color: #e6b175;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container .empty {
  border: 3px solid #000;
  width: 150px;
  height: 150px;
  margin-right: 1em;
  margin-bottom: 1em;
  background-color: #614B31;
}

.container .empty .fill {
  background-image: url(../image/draggable_image.jpg);
  width: 144px;
  height: 144px;
  cursor: pointer;
}

.container .empty:last-child {
  margin-right: 0;
}
